<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato One</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/adaptive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet">
</head>
<body >

    <div class="header-tomato-one">
        <img class="burger-menu" src="image/burger-menu.png"> 
        <div class="nav tomato-one-nav">
            <div class="Logo-Tomato-One">   
                <img src="images/Logo.png">
            </div>
            <div class="menu-tomato-one">
                <div class="search-tomato-one">
                    <input type="text" placeholder="Search">
                    <a href="#"><img src="images/lupa323.png"></a>
                </div>
                <ul class="menu-nav-tomato-one">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="index2.html">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">R & D</a></li>
                    <li><a href="contuctus.html">Contact</a></li>
                </ul>
            </div>
        </div>        
    </div>
    <div class="main-tomato-one" style="background-image: url(image/tomatooneunion.png); background-repeat: no-repeat; width: 100%;">
        <div class="main-tomato-one-first" >
        <a href="index2.html">
            <div class="return-all-tomatos">
                <img src="image/Arrow 1.png">
                <p>Return to all tomatoes</p>
            </div>
        </a>
        <h1>
            {{ product.title }} <br>
            <strong>{{ product.short_text }}</strong>
        </h1>
        <img src="image/xrest.png">
        <div class="Very-very">
            <img class="img-tomato-very" src="image/Group 17.png">
            <p class="ptext4">Very high yield and <br> excellent fruits quality!</p>
        </div>
        
        <div class="spisok1">
            <p><strong>CHARACTERISTICS</strong> </p>
            <h6><b>Resistance</b> <br>
                HR: ToMV:0-2; Fol: 1,2; Ve/Vd; <br>
                IR: TYLCV
            </h6>
        </div>
        <div class="spisok2">
            <p><strong>Plant</strong></p>
            <ul>
                <li><span>Strong vigor that provides good leaf coverage</span></li>
                <li><span>Very high productivity with good fruit setting.</span></li>
                <li><span>Early matured variety.</span></li>
            </ul>
            
        </div>
            <div class="spisok3">
                <p><strong>Fruit</strong></p>
                <ul>
                    <li><span>Long shelf life on plant and post harvest.</span></li>
                    <li><span>Nice shiny attractive deep red color.</span></li>
                    <li><span>Average fruit size: 140  160 grams.</span></li>
                </ul>
            
            </div>
        </div>
        <div class="main-tomato-one-second">
        <img class="img-tomato" :src="'./css/img/'+product.img">

            <div class="tomato-pdf">
                <button v-if="!btnVisible" @click="addToCart(product.id)" >
                    <img src="image/ico_pdf.png">
                    Add to cart
                </button>
                <button v-if="btnVisible" >
                    <img src="image/ico_pdf.png">
                    <a href="contuctus.html">Go to cart</a>
                </button>
            </div>
            

        <div class="spisok4">
            <p><strong>Cycle</strong></p>
            <ul class="spisok4-ul">
                <li><span>Spring</span></li>
                <li><span>Fall </span></li>
                <li><span>Winter</span></li>
            </ul>
        </div>
        <div class="spisok5">
            <p><strong>Color</strong></p>
            <span>Red</span>
        </div>
        </div>
    </div>
    
    <footer class="footer-tomato-one">
        <div class="footer-first">
            <div class="footer-spis1">
                <ul id="menu-footer">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Managment</a></li>
                    <li><a href="index2.html">Products</a></li>
                    <li><a href="#">R & D</a></li>
                    <li><a href="#">Links</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="contuctus.html">Contact</a></li>
                </ul> 
            </div>
            <div class="footer-spis2">
                <a href="#"><img src="images/ikonki-footer/Ico_in.png"></a>
                <a href="#"><img src="images/ikonki-footer/Ico_inst.png"></a>
                <a href="#"><img src="images/ikonki-footer/Ico_tube.png"></a>
                <a href="#"><img src="images/ikonki-footer/Ico_tw.png"></a>
                <a href="#"><img src="images/ikonki-footer/Ico_fb.png"></a>
            </div>
        </div>
        <div class="footer-second">
            <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
        </div>
    </footer> 


    
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="JS/main.js"></script> 
    
</body>
</html>